.ProductDiv{
    height: 400px;
    display: flex;
    flex-direction: column;
}
.imgdiv{
    width: 100%;
    height: 60%;
}
.productimg{
    height: 100%;
    width: 100%;
}
.productbody{
    width: 80%;
    margin:50px auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}
.addtocart{
    width: 60%;
    height: 10%;
    margin: auto;
    font-weight: 600;
    color: white;
}
.productdetails{
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: 600;
}
.serch{
    width: 30%;
    height: 40px;
    border: none;
    border-bottom: 1px solid black;
}
.serch:focus{
    outline: none;
}