.footer{
    margin-top:60px ;
    width: 100vw;
    height: 18vw;
    background-color: rgb(253,249,186);
}
.footercontent{
    width: 50%;
    height: 60%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}
.footercontent >div{
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}